/* Space out content a bit */
body {
  padding: 20px 0;
  min-width: 300px;
    -webkit-font-smoothing: anti-alias;
}
.container {
    max-width:900px;
    width: 96%;
    margin: auto;
}
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.footer {
  padding: 0 15px;
}
.navbar.affix {
    width: 80%;
    top: 0;
    position: fixed;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 8000;
    background: #fff;
    -moz-animation-name: fadeInDownBig;
    -webkit-animation-name: fadeInDownBig;
    animation-name: fadeInDownBig;
    -moz-animation-duration: .5s;
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
}
/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 3rem;
  padding-bottom: 19px;
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
    padding: 1em;
    background: none;
}
/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.logo-list {
    text-align: center;
}
.logo-list li {
    max-width: 100px;
    padding: .5rem 1rem;
}
.logo-list li img {
    width: 100%;   
}
.user-wrap {
    border:1px solid rgba(0,0,0,0.3); position:relative;
    max-width: 800px;
    margin: auto;
    padding: 0;
    -moz-transition: all .3s ease-in;
  -webkit-transition:all .3s ease-in;
  transition:all .3s ease-in;
}
.user-wrap.ng-move,
.user-wrap.ng-enter {
    -moz-transition: all .3s ease-in;
  -webkit-transition:all .3s ease-in;
  transition:all .3s ease-in;
}
.user-wrap.ng-move {
    -moz-animation-name: flipInX;
    -webkit-animation-name: flipInX;
    animation-name: flipInX;
    -moz-animation-duration: .75s;
    -webkit-animation-duration: .75s;
    animation-duration: .75s;
    -moz-animation-delay: .15s;
    -webkit-animation-delay: .15s;
    animation-delay: .15s;
}
.user-wrap.ng-enter {
    -moz-animation-name: fadeIn;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}
.user-wrap.ng-leave {
    -moz-animation-name: zoomOut;
    -webkit-animation-name: zoomOut;
    animation-name: zoomOut;
}

.user-wrap.ng-leave.ng-leave-active {
  opacity:0;
}
.user-wrap > div {
    display: inline-block;
}
.editable-hide {
    display: none;
    visibility: hidden;
}
.user-wrap .media-object {
    width:125px; 
    height:125px;
    float: left;
}
.media-body {
    padding:.5em 20% .5em .5em; 
    display: inline-block;
    word-break: keep-all;
    min-width: 350px;
    font-size: 1.5rem;
    line-height: 2rem;
}
.media-body .media-heading {
    text-transform:capitalize;
    padding: 0;
    margin: auto;
    line-height: 2.5rem;
}
.media-body .media-heading small {
    font-size: 2rem;
    padding: 0;
    margin: auto;
    clear: both;
}
.media-body address {
    padding:.1em; margin:auto; line-height: 2rem; text-transform:capitalize;
}
.media-body {
    
}
.edit-wrap, .editable-buttons {
    position:absolute;right:0;top:0;bottom:0;height:100%;
    border-radius: 0!important; margin: 0;padding: 0;
    min-width: 2em;
    width:20%; border-left:1px solid rgba(0,0,0,0.3);
}
.edit-wrap button, .editable-buttons button {
    border-radius: 0!important;
    font-size: 2.5rem;
    height: 50%;
    width:100%;
    margin: 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
@media screen and (max-width: 480px) {
      .navbar-form {
      float: none!important;
      width: 90%;
      margin:auto;
      }
      .navbar {text-align:center;}
}
